---
---

@import "{{ site.theme }}";
.header {
  background-color: #8ADED3;
  border-style: solid;
  border-width: thick;
  height: 15%;
  margin: auto;
}

#pokedex {
  font-size: 55px;
  font-family: cursive;
}

body {
  align-items: center;
}
#pokeName {
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  padding-bottom: 15px;

}
#pokeImage img {
  width: 25%;
}

.content {
  border-style: double;
  width: 50%;
  margin: auto;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #FEFDF4;
}
#pokeDes {
  vertical-align: middle;
}
#pokeFind {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#pokeNum {
  width: 300px;
}
#pokeType {
  text-transform: capitalize;
}
#pokeWeakness {
  text-transform: capitalize;
}
#table1 {
  border-style: dashed;
}
#loadPokeFront {

}
body {
  background-color: #F9F9F8;
}
body h3 {
  font-family: cursive;
}

.weakness, .type {
  color: #E5E5E5;
  border-style: double;
  border-width: medium;
  border-color: black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  background-color: #a4acaf;
  font-size: 12px;
  text-decoration: underline;

}

.bug {
  background-color: darkgreen;
}

.dark {
  background-color: darkgrey;
}

.dragon {
  background-color: #AB411F;
}

.electric {
  background-color: #FEFBB2;
}

.fairy {
  background-color: #CC9EEC;
}

.fighting {
  background-color: #3C8C6E;
}

.fire {
  background-color: #orange;
}

.flying {
  background-color: #57CCCC;
}

.ghost {
  background-color: #F9F9F9;
}

.grass {
  background-color: #0A630E;
}

.ground {
  background-color: #4A412C;
}

.ice {
  background-color: #BBF4F4;
}

.poison {
  background-color: #431E83;
}

.psychic {
  background-color: #712FE3;
}

.rock {
  background-color: #grey;
}

.shadow {
  background-color: black;
}

.steel {
  background-color: #858985;
}

.unknown {
}

.water {
  background-color: #4592c4;
}
